<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_main')}}">
			<i class="fa-solid fa-beer-mug-empty"></i>
			{% trans %}
			Accueil{% endtrans %}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('app_article_index')}}">{% trans %}Gestion des Articles{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('app_ticket_index')}}">{% trans %}Gestion des Tickets{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_marque_index')}}">{% trans %}Gestion des Marques{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_fabricant_index')}}">{% trans %}Gestion des Fabricants{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_typebiere_index')}}">{% trans %}Gestion des Types de bières{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_couleur_index')}}">{% trans %}Gestion des Couleurs{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_continent_index')}}">{% trans %}Gestion des Continents{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_pays_index')}}">{% trans %}Gestion des Pays{% endtrans %}
					</a>
				</li>
				<li><hr class="collapse-divider"></li>

			</ul>
			<div class="collapse navbar-collapse d-xl-flex" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{% trans %}Langues{% endtrans %}
						</a>
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
							<li>
								<a class="dropdown-item text-white" href="{{ path('langue_francais') }}">
									<img src="{{ asset ('assets/images/france.png') }}" alt="France" class="w-25 flag-img"/>
									Français</a>
							</li>
							<li>
								<a class="dropdown-item text-white" href="{{ path('langue_anglais') }}">
									<img src="{{ asset ('assets/images/united-kingdom.png') }}" alt="U-K" class="w-25 flag-img"/>
									English</a>
							</li>
							<li>
								<a class="dropdown-item text-white" href="{{ path('langue_espagnol') }}">
									<img src="{{ asset ('assets/images/spain.png') }}" alt="Espanol" class="w-25 flag-img"/>
									Espanol</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</div>
</nav>
