{% extends 'base.html.twig' %}

{% block title %}Couleur index
{% endblock %}

{% block body %}
	<div class="container">

		<div class="justify-content-center">
			<div class="card bg-dark border rounded-pill border-4 m-4">
				<div class="card-title text-center text-white">
					<h1>Liste des Couleurs</h1>
				</div>
				<div class="card-body text-center">
					<a class="btn btn-primary" href="{{ path('app_couleur_new') }}">
						<i class="fa-solid fa-plus"></i>AJOUTER</a>
				</div>
			</div>
		</div>


		<div class="table-responsive">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>Code</th>
						<th>Couleur</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for couleur in couleurs %}
						<tr>
							<td>{{ couleur.idCouleur }}</td>
							<td>{{ couleur.nomCouleur }}</td>
							<td>
								<a class="btn btn-primary" role="button" href="{{ path('app_couleur_show', {'idCouleur': couleur.idCouleur}) }}"><i class="fa-solid fa-eye"></i></a>
								<a class="btn btn-info" role="button" href="{{ path('app_couleur_edit', {'idCouleur': couleur.idCouleur}) }}"><i class="fa-solid fa-pencil"></i></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

	</div>
{% endblock %}
