{% extends 'base.html.twig' %}

{% block title %}Couleur index{% endblock %}

{% block body %}
    <h1>Couleur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCouleur</th>
                <th>NomCouleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couleur in couleurs %}
            <tr>
                <td>{{ couleur.idCouleur }}</td>
                <td>{{ couleur.nomCouleur }}</td>
                <td>
                    <a href="{{ path('app_couleur_show', {'idCouleur': couleur.idCouleur}) }}">show</a>
                    <a href="{{ path('app_couleur_edit', {'idCouleur': couleur.idCouleur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_couleur_new') }}">Create new</a>
{% endblock %}
