{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Annee</th>
                <th>NumeroTicket</th>
                <th>DateVente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.annee }}</td>
                <td>{{ ticket.numeroTicket }}</td>
                <td>{{ ticket.dateVente ? ticket.dateVente|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'annee': ticket.annee}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'annee': ticket.annee}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_new') }}">Create new</a>
{% endblock %}
