{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Liste des Fabricants{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column min-vh-100">

		<div class="justify-content-center">
			<div class="card bg-dark border rounded-pill border-4 m-4">
				<div class="card-title text-center text-white">
					<h1>{% trans %}Liste des Fabricants{% endtrans %}</h1>
				</div>
				<div class="card-body text-center">
					<a class="btn btn-primary" href="{{ path('app_fabricant_new') }}">
						<i class="fa-solid fa-plus"></i>
						{% trans %}AJOUTER{% endtrans %}</a>
				</div>
			</div>
		</div>


		<div class="table-responsive">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>{% trans %}Code{% endtrans %}</th>
						<th>{% trans %}Fabricant{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for fabricant in fabricants %}
						<tr>
							<td>{{ fabricant.idFabricant }}</td>
							<td>{{ fabricant.nomFabricant }}</td>
							<td>
								<a class="btn btn-primary me-2" role="button" href="{{ path('app_fabricant_show', {'idFabricant': fabricant.idFabricant}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a class="btn btn-info" role="button" href="{{ path('app_fabricant_edit', {'idFabricant': fabricant.idFabricant}) }}">
									<i class="fa-solid fa-pencil"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

	</div>
{% endblock %}
