{% extends 'base.html.twig' %}

{% block title %}Fabricant
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center m-5">

			<div class="card bg-dark border rounded-5 border mt-4 col-md-8 justify-center content-center">
				<div class="card-title text-center text-white">
					<h1>Fabricant</h1>
					<div class="card-body text-center">
						<table class="table table-dark table-hover">
							<tbody>
								<tr>
									<th>Code Fabricant</th>
									<td>{{ fabricant.idFabricant }}</td>
								</tr>
								<tr>
									<th>Nom Fabricant</th>
									<td>{{ fabricant.nomFabricant }}</td>
								</tr>
							</tbody>
						</table>

						<a class="btn btn-warning" role="button" href="{{ path('app_fabricant_index') }}">Retour à la liste</a>

						<a class="btn btn-info" role="button" href="{{ path('app_fabricant_edit', {'idFabricant': fabricant.idFabricant}) }}">Modifier</a>

						{{ include('fabricant/_delete_form.html.twig') }}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
