{% extends 'base.html.twig' %}

{% block title %}Fabricant{% endblock %}

{% block body %}
    <h1>Fabricant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdFabricant</th>
                <td>{{ fabricant.idFabricant }}</td>
            </tr>
            <tr>
                <th>NomFabricant</th>
                <td>{{ fabricant.nomFabricant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fabricant_index') }}">back to list</a>

    <a href="{{ path('app_fabricant_edit', {'idFabricant': fabricant.idFabricant}) }}">edit</a>

    {{ include('fabricant/_delete_form.html.twig') }}
{% endblock %}
