<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{% trans %}Bonjour !{% endtrans %}
			{% endblock %}
		</title>

		
		<link rel="icon" type="image/png" href="{{ asset ('assets/images/beericon.png')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/7a86044dd0.js" crossorigin="anonymous"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% include "_partials/_nav.html.twig" %}


		{# Message alert  #}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
					{% if label == 'success' %}
						<i class="fa-solid fa-check"></i>
					{% endif %}
					<strong>{{ label |trans }}</strong>
					{{ message |trans }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>

				<script>
					Swal.fire({icon: 'success', title: '{{ message |trans }}', showConfirmButton: false, timer: 1500});
				</script>

			{% endfor %}
		{% endfor %}

		{% block body %}{% endblock %}

		{% include "_partials/_footer.html.twig" %}

	</body>

</html>
