{% extends 'base.html.twig' %}

{% block title %}{% trans %}Vendre{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column min-vh-100">

		<div class="justify-content-center">
			<div class="card bg-dark border rounded-pill border-4 m-4">
				<div class="card-title text-center text-white">
					<h1>{% trans %}Détail du Ticket :{% endtrans %}
						{{ annee }}
						/ N°{{ no }}
					</h1>
				</div>
				<div class="card-body text-center">
					<a class="btn btn-primary" href="{{ path('app_vendre_new', {'annee': annee, 'no': no} ) }}">
						<i class="fa-solid fa-plus"></i>{% trans %}AJOUTER{% endtrans %}</a>
						<a class="btn btn-warning" role="button" href="{{ path('app_ticket_index') }}">{% trans %}Retour à la liste{% endtrans %}</a>
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>{% trans %}Code Article{% endtrans %}</th>
						<th>{% trans %}Libellé{% endtrans %}</th>
						<th>{% trans %}Volume{% endtrans %}</th>
						<th>{% trans %}Quantite{% endtrans %}</th>
						<th>{% trans %}Prix de Vente{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for vendre in vendres %}
						<tr>
							<td>{{ vendre.idArticle.idArticle }}</td>
							<td>{{ vendre.idArticle }}</td>
							<td>{{ vendre.idArticle.volume }}
								cl</td>
							<td>{{ vendre.quantite }}</td>
							<td>{{ vendre.prixVente }}</td>
							<td>
								{# <a href="{{ path('app_vendre_show', {'idArticle': vendre.idArticle}) }}">show</a> #}
								<a class="btn btn-primary mb-2" role="button" href="{{ path('app_vendre_edit', {'annee': annee,'no': no,'id': vendre.idArticle.idArticle}) }}"><i class="fa-solid fa-pencil"></i></a>
								{{ include('vendre/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
