{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des Marques{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column min-vh-100">

		<div class="justify-content-center">
			<div class="card bg-dark border rounded-pill border-4 m-4">
				<div class="card-title text-center text-white">
					<h1>{% trans %}Liste des Marques{% endtrans %}</h1>
				</div>
				<div class="card-body text-center">
					<a class="btn btn-primary" href="{{ path('app_marque_new') }}">
						<i class="fa-solid fa-plus"></i>{% trans %}AJOUTER{% endtrans %}</a>
						<p class="text-white mt-3"> {{ pagination.getTotalItemCount }} {% trans %} Marques {% endtrans %} </p>
				</div>
			</div>
			{{ knp_pagination_render(marques)}}
		</div>


		<div class="table-responsive">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>{% trans %}Code{% endtrans %}</th>
						<th {% if pagination.isSorted('nom_marque') %} class="sorted"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'Marque'|trans, 'nom_marque') }}</th>
						<th>{% trans %}Fabricant{% endtrans %}</th>
						<th>{% trans %}Pays{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for marque in marques %}
						<tr>
							<td>{{ marque.idMarque }}</td>
							<td>{{ marque.nomMarque }}</td>
								{% if marque.idFabricant == null %}
								<td></td>
							{% else %}
								<td>{{ marque.idFabricant.nomFabricant}}</td>
							{% endif %}
							<td>{{ marque.idPays.nomPays }}</td>
							<td>
								<a class="btn btn-primary me-2" role="button" href="{{ path('app_marque_show', {'idMarque': marque.idMarque}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a class="btn btn-info" role="button" href="{{ path('app_marque_edit', {'idMarque': marque.idMarque}) }}">
									<i class="fa-solid fa-pencil"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}
