{% extends 'base.html.twig' %}

{% block title %}Marque
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center m-5">

			<div class="card bg-dark border rounded-5 border mt-4 col-md-8 justify-center content-center">
				<div class="card-title text-center text-white">
					<h1>Marque</h1>
					<div class="card-body text-center">
						<table class="table table-dark table-hover">
							<tbody>
								<tr>
									<th>Code Marque</th>
									<td>{{ marque.idMarque }}</td>
								</tr>
								<tr>
									<th>Nom Marque</th>
									<td>{{ marque.nomMarque }}</td>
								</tr>
							</tbody>
						</table>

						<a class="btn btn-warning" role="button" href="{{ path('app_marque_index') }}">Retour à la liste</a>

						<a class="btn btn-info" role="button" href="{{ path('app_marque_edit', {'idMarque': marque.idMarque}) }}">Modifier</a>

						{{ include('marque/_delete_form.html.twig') }}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
