{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des Articles{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column min-vh-100">

		<div class="justify-content-center">
			<div class="card bg-dark border rounded-pill border-4 m-4">
				<div class="card-title text-center text-white">
					<h1>{% trans %}Liste des Articles{% endtrans %}</h1>
				</div>
				<div class="card-body text-center">
					<a class="btn btn-primary" href="{{ path('app_article_new') }}">
						<i class="fa-solid fa-plus"></i>{% trans %}AJOUTER{% endtrans %}</a>
						<p class="text-white mt-3"> {{ pagination.getTotalItemCount }} {% trans %} Articles {% endtrans %} </p>
				</div>
			</div>
			{{ knp_pagination_render(articles)}}
		</div>

		<div class="table-responsive">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>{{ knp_pagination_sortable(pagination, 'Code Article'|trans, 'id_article') }}</th> 
						<th>{% trans %}Nom Article{% endtrans %}</th>
						<th>{% trans %}Prix Achat{% endtrans %}</th>
						<th>{% trans %}Volume{% endtrans %}</th>
						<th>{% trans %}Titrage{% endtrans %}</th>
						<th>{% trans %}Marque{% endtrans %}</th>
						<th>{% trans %}Couleur{% endtrans %}</th>
						<th>{% trans %}Type de bière{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{ article.idArticle }}</td>
							<td>{{ article.nomArticle }}</td>
							<td>{{ article.prixAchat }}</td>
							<td>{{ article.volume }}</td>
							<td>{{ article.titrage }}</td>
							<td>{{ article.idMarque.nomMarque }}</td>
							{% if article.idCouleur == null %}
								<td></td>
							{% else %}
								<td>{{ article.idCouleur.nomCouleur }}</td>
							{% endif %}
							{% if article.idType == null %}
								<td></td>
							{% else %}
								<td>{{ article.idType.nomType }}</td>
							{% endif %}

							<td>
								<a class="btn btn-primary me-2" role="button" href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}"><i class="fa-solid fa-eye"></i></a>
								<a class="btn btn-info" role="button" href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}"><i class="fa-solid fa-pencil"></i></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
