{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des Types de bière{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column min-vh-100 flex-column min-vh-100">

		<div class="justify-content-center">
			<div class="card bg-dark border rounded-pill border-4 m-4">
				<div class="card-title text-center text-white">
					<h1>{% trans %}Liste des Types de bière{% endtrans %}</h1>
				</div>
				<div class="card-body text-center">
					<a class="btn btn-primary" href="{{ path('app_typebiere_new') }}">
						<i class="fa-solid fa-plus"></i>{% trans %}AJOUTER{% endtrans %}</a>
				</div>
			</div>
		</div>


		<div class="table-responsive">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>{% trans %}Code{% endtrans %}</th>
						<th>{% trans %}Type de bière{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for typebiere in typebieres %}
						<tr>
							<td>{{ typebiere.idType }}</td>
							<td>{{ typebiere.nomType }}</td>
							<td>
								<a class="btn btn-primary me-2" role="button" href="{{ path('app_typebiere_show', {'idType': typebiere.idType}) }}"><i class="fa-solid fa-eye"></i></a>
								<a class="btn btn-info" role="button" href="{{ path('app_typebiere_edit', {'idType': typebiere.idType}) }}"><i class="fa-solid fa-pencil"></i></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">{% trans %}Aucun enregistrement trouvé{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

	</div>
{% endblock %}
